<!-- start custom footer snippets -->
<script type="text/javascript">!function(e,n,o,t){var r=n.createElement(o);r.src=t+"?time="+(new Date).getTime(),r.async=!0,r.onload=function(){ClickxTracker.init({twId:"Ftbt-pyOjPY", apiUrl:"http://clickx-staging-pr-671.herokuapp.com"})},r.onerror=function(){console.log("Error")},n.getElementsByTagName("head")[0].appendChild(r)}(window,document,"script","http://clickx-staging-pr-671.herokuapp.com/clickx-tracker.js");</script><noscript><p><img src="http://clickx-staging-pr-671.herokuapp.com/tracker.gif?twId=Ftbt-pyOjPY&noscript=true" style="border:0;" alt="" /></p></noscript> 

<!-- end custom footer snippets -->
