# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Aboobacker's world
email: aboobackervyd+blog@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
    Personal website of Aboobacker MK, Ruby on Rails developer in Bangalore
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://aboobacker.in" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: _tachyons
github_username:  tachyons

comments:
  provider               : "disqus"
  disqus:
    shortname            : "aboobacker"

# Social Sharing
twitter:
  username               : "_tachyons"

# Analytics
analytics:
  provider               : "google" # false (default), "google", "google-universal", "custom"
  google:
    tracking_id          : 'UA-41278521-2'

# Site Author
author:
  name             : "Aboobacker MK"
  avatar           : "/images/bio-photo.jpg"
  bio              : "Just another human being , Software Engineer at Sephora"
  location         : "Kochi, Kerala, India"
  email            : "aboobackervyd@gmail.com"
  uri              : "https://aboobacker.in"
  bitbucket        : "abvayad"
  facebook         : "aboobacker.mk"
  github           : "tachyons"
  twitter          : "_tachyons"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      read_time: true
      comments: true
      share: true
      related: true
      author_profile: true

search: true
paginate: 5 # amount of posts to show
paginate_path: /page:num/

# Build settings
theme: minimal-mistakes-jekyll
plugins:
  - jekyll-feed
  - jekyll-include-cache 
  - jekyll-seo-tag

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
